body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.btn-lg {
    font-size: 1.2rem;
    padding: 10px 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}
